.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.img_btn{
  cursor: pointer;
}

.input{
  margin-top: 20px;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 18px;
}

.input:focus {
  outline: none !important;
  border: 1px solid lightskyblue;
  box-shadow: 0 0 5px 2px rgb(91, 91, 243);
}